.word a{
	font-size: 14px;
}
.word1 a:hover{
	color: #b9f605;
	text-decoration: none;
}
.li{
	list-style-type: disc;
	list-style-position: outside;
}
.list{
	  list-style-image: url(../images/list.png);
	 
}